*{
    margin: 0;
    padding: 0;
    background-color: #F3F4F6;
}
body{
    margin: 0;
}
header{
    width: 100%;
    height: 100px;
    background-color: #F3F4F6;
}
header h1{
    background-color: #F3F4F6;
    color: #F3F4F6;
}