*{
    margin: 0;
    padding: 0;
    /* background-color: #FFFFFF; */
}
/* body{
    margin: 0;
    padding-top: 70px;
} */
header{
    width: 100%;
    height: 80px;
    border: solid #CBD5E1 2px;
    background-color:  #F1F4F8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    
    z-index: 1000;
}
/* header h1{
    background-color: #F3F4F6;
    color: #F3F4F6;
} */
#anchor{
    width: 600px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-right: 40px;
    

}
#a{
   font-size: 18px;
   text-decoration: none;
   color: #0F172A;
   padding: 10px;
}
#a:hover{
    color: grey;
}
.carousel-item{
    height: 400pxx;
}
/* .carousel-item img{
    height: 100%;
    object-fit: cover;
} */
/* #carousel-item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}  */

/* footer{
    height: 100px;
    border: 2px solid black;
    margin-top: 200px ;
} */
/* #carouselExample{
    
} */
#Home{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
#inner_content{
    border: solid gray 1px;
    height: 300px;
    width: 200px;
    border: 2ps solid black;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
#outer_content{
    padding: 30px;
    background-color: rgb(185, 185, 185);
    display: flex;
    justify-content: center;
}


.hero{
    width: 100%;
    height: 600px;
    background-image: url("../images/back_main.jpg.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    padding: 60px;
    margin-top: 80px;
    
}

.main_tag{
    font-size: 34px;
    font-weight:700;
    width:100%;
    height: 66px;
    text-align: center;
    margin-top: -40px;
    margin-bottom: 10px;
}

.para{
    width: 100%;
    height: 44px;
    text-align: center;
    font-weight: 400;
    font-size: large;
    margin-bottom: 10px;
}

.image{
    margin-top: 35px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.image img {
    width: 80%;
    border-radius: 8px;
    border: 2px solid rgba(255,255,255,0.3);
    height: 370px;
    
}