*{
    margin: 0;
    padding: 0;
    /* background-color: #FFFFFF; */
}
/* body{
    margin: 0;
    padding-top: 70px;
} */
header{
    width: 100%;
    height: 80px;
    border: solid #CBD5E1 2px;
    background-color:  #dce8f1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    
    z-index: 1000;
}
/* header h1{
    background-color: #F3F4F6;
    color: #F3F4F6;
} */
#anchor{
    width: 600px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-right: 40px;
    

}
#a{
   font-size: 18px;
   text-decoration: none;
   color: black;
   padding: 4px;
}
#a:hover{
    color: #184abf;
    font-weight: 600;
    border-bottom: #184abf solid 3px;
    
}
.carousel-item{
    height: 400px;
    margin-top: 75px;
}
/* .carousel-item img{
    height: 100%;
    object-fit: cover;
} */
/* #carousel-item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}  */

/* footer{
    height: 100px;
    border: 2px solid black;
    margin-top: 200px ;
} */
/* #carouselExample{
    
} */
#Home{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#inner_content{
    margin-left: 10px;
    border: solid gray 1px;
    height:250px;
    width: 700px;
    border: 2ps solid black;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    padding-top: 10px;
    /* padding-left: 10px; */
    /* margin-left: 20px; */
}
#outer_content{
    width: 80%;
    height: auto;
    padding-top: 20px;
    /* background-color: #dce8f1; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.hero{
    width: 100%;
    height: 600px;
    background-image: url("../images/back_main.jpg.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    padding: 60px;
    margin-top: 80px;
    
}

.main_tag{
    font-size: 34px;
    font-weight:700;
    width:100%;
    height: 66px;
    text-align: center;
    margin-top: -40px;
    margin-bottom: 10px;
}

.para{
    width: 100%;
    height: 44px;
    text-align: center;
    font-weight: 400;
    font-size: large;
    margin-bottom: 10px;
}

.image{
    margin-top: 35px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.image img {
    width: 80%;
    border-radius: 8px;
    border: 2px solid rgba(255,255,255,0.3);
    height: 370px;
    
}
#l{
    display: flex;
    justify-content: center;
}
#Custom{
    text-align: center;

}
#svg{
    height: 70px;
    width: 70px;
}